# Output de compilación
/dist
/node_modules
/build

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Sistema Operativo
.DS_Store
Thumbs.db

# Archivos de variables de entorno (SÚPER IMPORTANTE)
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
.env.sample

# Pruebas y Cobertura
/coverage
/.nyc_output

# Configuración de Editores (IDE)
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Datos de Base de Datos y Temporales
postgres_data/
.temp
.tmp

# Datos de tiempo de ejecución
pids
*.pid
*.seed
*.pid.lock

# Reportes de diagnóstico
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json